body {
  background-color: hsl(212, 45%, 89%);
  font-family: 'Outfit', sans-serif;
  margin: 0px;
}

h1, p {
  text-align: center;
  padding: 0px 10px;
}

h1 {
  font-size: 1.3rem;
  color: hsl(218, 44%, 22%);
  padding-top: 10px;
}

p {
  font-size: 15px;
  color: hsl(220, 15%, 55%);
}

.body-container {
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blockquote {
  /* margin: 0 auto; */
  background-color: #fff;
  width: 280px;
  padding: 16px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.blockquote img {
  border-radius: 10px;
}
